<?xml version="1.0"?>
<!--
/**
 * Copyright © Qsoft, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\UrlRewrite\Model\StoreSwitcher\RewriteUrl">
        <plugin name="edit_cms_url_path"
                type="Qsoft\FixUrls\Plugin\UrlRewrite\Model\StoreSwitcher\RewriteUrl"
                sortOrder="1"
        />
    </type>
</config>
