<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © Qsoft. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mediarocks\ProSlider\Block\Adminhtml\AssignSlides" type="Qsoft\ProSliderCustom\Block\Adminhtml\AssignSlides" />
    <preference for="Mediarocks\ProSlider\Controller\Adminhtml\Slider\Grids" type="Qsoft\ProSliderCustom\Controller\Adminhtml\Slider\Grids" />
</config>