<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * Code standard by : Rh [10-05-2019]
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="Noctua" translate="label" sortOrder="380">
            <label>Noctua</label>
        </tab>
        <section id="generatesitemap" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Generate Sitemap</label>
            <tab>Noctua</tab>
            <resource>SIT_Generatetechsitemap::generatesitemap</resource>
            <group id="generatesitemapcron" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Generate Sitemap</label>
                <field id="set_cron" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Set Cron To Generate Sitemap</label>
                    <comment><![CDATA[Use Crontab Format <br>         
                                (Eg. "*/5 * * * *" for every 5 minutes) <br>
                                (Eg. "* 2,14 * * *" for every 2PM and 2AM)]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
