<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="catalogsearch" frontName="catalogsearch">
            <module name="SIT_CatalogSearch" />
        </route>
    </router>
</config>
