<div class="show-all-methods">
	<div class="image" ></div>
	<div class="method-content">
		<span class="motherboard-note" >
			Please select a chassis manufacturer according to the required socket, from the list below.
		</span>
		<span class="cpucomp-manufacturer manufacture-case-name case-all-data comp-all-data">
			<a href="javascript:void(0)"  data-bind="click: getAllManufacturer" id="casecomp_all"> Show all Chassis</a>
		</span>
	</div>
</div>

<div class="service-case-manufacturer" data-bind="css:{hide_product_view_comp_case: caseList().length <= 0}">
	<div class="service-case-title">
		<div class="manufacture-case-title" data-bind="i18n: 'Manufacturer'"></div>
		<div class="model-case-title" data-bind="i18n: 'Model'"></div>
	</div>
	<!-- ko foreach: caseList -->
		<div class="service-case-models">
			<div class="manufacture-case-name" data-bind="attr:{'data-id':'manuf_'+comp_manufacture}">
				<a href="javascript:void(0)" data-bind="i18n: $data.comp_manufacture_value,attr:{id: '#manuf_'+comp_manufacture},attr:{id: '#manuf_'+comp_manufacture},event:{'click': $parent.getManufacturer}"></a>
			</div>
			<div class="manufacture-case-model">
				<!-- ko foreach: $data.comp_manufacture_manufacture -->
					<!-- ko if: $index() != 0 -->
						<span> - </span>
					<!-- /ko -->
					<a href="javascript:void(0)" data-bind="i18n: comp_model_value,attr:{id: '#manuf_'+$parent.comp_manufacture+'_model_'+comp_model},click: function(data, event) { $parents[1].getModel($parent.comp_manufacture,$data);}"></a>
					<!-- ko if: ($parentContext.$index()+1) == $parents[1].caseList().length -->
						<span data-bind="text:$parents[1].loadData()"></span>
					<!-- /ko -->
				<!-- /ko -->
			</div>
		</div>
	<!-- /ko -->
	<span class="manufacture-case-name case-all-data comp-all-data" style="margin: 12px 0px;">
		<!--<a href="javascript:void(0)"  data-bind="click: getAllManufacturer" id="casecomp_all"> Show all Chassis</a>-->
	</span>
</div>
<div class="pro-mainboard-socket-case" data-bind="css:{hide_product_view_comp_case: caseList().length <= 0}">
	<div class="green" data-bind="i18n: 'Compatible'"></div>
	<div class="blue" data-bind="i18n: 'Possible Issues (see comment)'"></div>
	<div class="red" data-bind="i18n: 'Incompatible (see comment)'"></div>
</div>
<div class="service-case-inner-main" data-bind="css:{hide_product_view_comp_case: caseList().length <= 0}">
<!-- ko foreach: {data: caseGrid, as: 'row'} -->
	<h1 class="case-head"  data-bind="i18n: $data.comp_manufacture_value,attr:{id: 'manuf_'+$data.comp_manufacture}"></h1>
	<div class="service-case-contents">
		<div class="main-case-comp heading border-bottom">
			<div class="case-comp-model" data-bind="i18n: 'Model'"></div>
			<!-- <div class="case-comp-max-height" data-bind="i18n: 'Max. Cooler Height'"></div>
			<div class="case-comp-height" data-bind="i18n: $data.product_name+' Height'"></div> -->
			<div class="case-comp-compatibility" data-bind="i18n: 'Compatibility'"></div>
			<div class="case-comp-comment" data-bind="i18n: 'Comment'"></div>
		</div>
		<!-- ko foreach: row.comp_manufacture_manufacture -->
		<div class="main-case-comp" data-bind="attr:{id: 'manuf_'+row.comp_manufacture+'_model_'+comp_model}">
			<div class="case-comp-model">
				<a href="javascript:void(0)" data-bind="i18n: comp_model_value,attr:{href: url_key}"></a>
			</div>
		<!-- 	<div class="case-comp-max-height" data-bind="i18n: max_cooler_height+'mm'"></div>
			<div class="case-comp-height">
				<a href="javascript:void(0)" data-bind="i18n: row.product_height+'mm',attr:{href: row.url_key}"></a>
			</div> -->
			<div class="case-comp-compatibility">
				<img data-bind="attr:{src: comp_compatibility}">
			</div>
			<div class="case-comp-comment" data-bind="html: comment"> </div>
		</div>
		<!-- /ko -->
	</div>
<!-- /ko -->
</div>