<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="VladimirPopov\WebForms\Block\Form" type="VladimirPopov\WebFormsDepend\Block\Form"/>
    <preference for="VladimirPopov\WebForms\Block\Widget\Form" type="VladimirPopov\WebFormsDepend\Block\Widget\Form"/>
	<!-- For web-form submit controller -->
    <preference for="VladimirPopov\WebForms\Controller\Form\Submit" type="VladimirPopov\WebFormsDepend\Controller\Form\Submit"/>
	<!-- For Assigned users to Newsletter Group and Source for Front-side[MD][06-05-2019]-->
   <preference for="VladimirPopov\WebForms\Model\Form" type="VladimirPopov\WebFormsDepend\Model\Form" />
</config>


