<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * Code standard by : Rh [1-3-2019]
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Eav\Model\Entity\AttributeCache">
        <arguments>
            <argument name="unsupportedTypes" xsi:type="array">
                <item name="sit_templatetext" xsi:type="string">sit_templatetext</item>
            </argument>
        </arguments>
    </type>
    <type name="SIT\TemplateText\UI\Component\Listing\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">SIT\TemplateText\Model\ResourceModel\TemplateText\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">RefGridFilterPool</argument>
        </arguments>
    </type>
    <virtualType name="RefGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sit_templatetext_templatetext_listing_data_source" xsi:type="string">SIT\TemplateText\Model\ResourceModel\TemplateText\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="SIT\TemplateText\Model\ResourceModel\TemplateText\Grid\Collection">
        <arguments>
            <argument name="eventPrefix" xsi:type="string">sit_templatetext_templatetext_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">sit_templatetext_templatetext_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">SIT\TemplateText\Model\ResourceModel\TemplateText</argument>
        </arguments>
    </type>
</config>